

<!--hr>

<p>To ensure continued delivery, add {companyEmail} to your safe senders list or address book.</p>

<p>
    This email was sent by {companyName} {companyAddressLineOne} {companyAddressLineTwo} {companyCity}
    {companyState} {companyZip}. To stop receiving this email communication,
    <a href="{optOutLink}">click here to edit your communication preferences</a>.
</p-->


<hr>

<p>To ensure continued delivery, add {clinicEmail} to your safe senders list or address book.</p>

<p>
    This email was sent by {clinicName} {clinicAddressLineOne} {clinicAddressLineTwo} {clinicCity}
    {clinicState} {clinicZip}. To stop receiving this email communication,
    <a href="{optOutLink}">click here to edit your communication preferences</a>.
</p>