<p>Hello {clientFullName},</p>

<p>
    This email is to inform you of your upcoming appointment at {clinicName} on
    {appointmentStartDate} at {appointmentStartTime} for {patientName}.
</p>

<p>
    Please confirm or cancel your appointment by clicking one of the links below:<br/>
    <br/>
    [ {appointmentConfirm} ] [ {appointmentCancel} ].
</p>

<p>
    Thanks,<br><br>

    {clinicName}<br>
    {clinicAddressLineOne} {clinicAddressLineTwo}<br>
    {clinicCity}, {clinicState} {clinicZip}
</p>


<hr>

<p>To ensure continued delivery, add {clinicEmail} to your safe senders list or address book.</p>

<p>
    This email was sent by {clinicName} {clinicAddressLineOne} {clinicAddressLineTwo} {clinicCity}
    {clinicState} {clinicZip}. To stop receiving this email communication,
    <a href="{optOutLink}">click here to edit your communication preferences</a>.
</p>